table, td, th {  
    border:1px;
    text-align: left;
  }
  
  table {
    border-collapse: collapse;
    width: 100%;
  }

  th, td {
    padding: 15px;
    border-bottom: 1px solid #ddd;
    font-weight: bold;
  }

